@import url(./lib/fontawsome/all.css);
@import url(./lib/flickity/flickity.css);
/*
Create date: 20/04/2020
Design by Canvilled.
*/
/*-----======Setup Color And Text======------*/
:root {
  --primary-bg-color: #0b54ba;
  --secondary-bg-color:#fff;
  --primary-color: #0b54ba;
  --secondary-color:#000;
  --title-section-size:36px;
  --title-item-size:20px;
  --primary-padding: 10px;
  --secondary-padding: 20px;
}

/*-----======Setup Color And Text======------*/
/*-----=======Setup Font and main CSS======-----*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 15px;
  font-weight: 500;
  line-height: 1.5;
  color: #333;
  font-family: Roboto,sans-serif;
}

#main {
  margin: 0px;
}

#mySidenav {
  display: none;
}

::selection {
  background-color: var(--primary-bg-color);
  color: #fff;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary-bg-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--primary-bg-color);
}

img {
  width: 100%;
  height: auto;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.clear {
  clear: both;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  cursor: pointer;
  background: transparent;
  outline-color: transparent;
  transition: all 0.5s;
}

.newspaper__more-btn:hover {
  color: #fff !important;
  background: var(--primary-bg-color);
}

.btn--submit:hover {
  color: #fff !important;
  background: #333 !important;
}

.logo {
  width: 90px;
}

.icon {
  font-size: 30px;
  padding-right: 8px;
}

.logo--contact {
  width: 285px;
}

.icon--text {
  font-size: 30px;
}

.icon--img {
  width: 20px;
  display: inline-block;
}

.icon--img-svg {
  width: 8px;
}

/*---Row---*/
.row-divide {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.row-flex-start {
  justify-content: flex-start;
}

.align--self--center {
  align-self: center;
}

.divide--5-col {
  flex: 0 0 20%;
  max-width: 20%;
  width: 100%;
}

.col-divide-1 {
  flex: 0 0 7%;
  max-width: 7%;
  width: 100%;
}

.col-divide-2 {
  flex: 0 0 14%;
  max-width: 14%;
  width: 100%;
}

.col-divide-3 {
  flex: 0 0 22%;
  max-width: 22%;
  width: 100%;
}

.col-divide-4 {
  flex: 0 0 33.33%;
  max-width: 32%;
  width: 100%;
}

.col-divide-5 {
  flex: 0 0 42%;
  max-width: 42%;
  width: 100%;
}

.col-divide-6 {
  flex: 0 0 50%;
  max-width: 49.75%;
  width: 100%;
}

.col-divide-7 {
  flex: 0 0 57%;
  max-width: 57%;
  width: 100%;
}

.col-divide-8 {
  flex: 0 0 65%;
  max-width: 65%;
  width: 100%;
}

.col-divide-9 {
  flex: 0 0 73%;
  max-width: 73%;
  width: 100%;
}

.col-divide-10 {
  flex: 0 0 81%;
  max-width: 81%;
  width: 100%;
}

.col-divide-11 {
  flex: 0 0 90%;
  max-width: 90%;
  width: 100%;
}

.col-divide-12 {
  flex: 0 0 100%;
  max-width: 100%;
  width: 100%;
}

.col-divide-mutan-5 {
  flex: 0 0 19.5%;
  max-width: 19.5%;
  width: 100%;
}

/*---Row---*/
.rotate--90 {
  transform: rotate(90deg);
}

/*---Background---*/
.main--background {
  background: #fff;
}

.primary--background {
  background: #0b54ba12;
}

.secondary-background {
  background: #fff5e18f;
}

.text--light {
  color: #fff !important;
}

.text--dark {
  color: #333 !important;
}

.text--primary {
  color: var(--primary-color) !important;
}

.text--yellow {
  color: #e0d717 !important;
}

.font--weight--600 {
  font-weight: 600;
}

.post__category {
  font-size: 13px;
  text-transform: uppercase;
  padding: 3px 10px;
  font-weight: 600;
  border-radius: 2px;
  margin-right: 15px;
  color: #fff !important;
  background: var(--primary-bg-color);
}

/*---Background---*/
/*---Position---*/
.position--relative {
  position: relative;
}

/*---Position---*/
/*---Center---*/
.center--flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.center--position {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*---Center---*/
/*---Title and paragraph---*/
.title--section {
  font-size: var(--title-section-size);
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 5px;
}

.title--item {
  font-size: var(--title-item-size);
  font-weight: 600;
  margin: 1px 0px;
}

.text--center {
  text-align: center;
}

.text--justify {
  text-align: justify;
}

.text--right {
  text-align: right;
}

.text--italic {
  font-style: italic;
}

/*border radius*/
.border--solid-2 {
  border: 2px solid #e0d717;
}

.border--1 {
  border-radius: 8px;
}

.border--2 {
  border-radius: 13px;
}

.border--3 {
  border-radius: 17px;
}

.border--50 {
  border-radius: 50%;
}

/*border radius*/
.box-shadow {
  box-shadow: 4px 2px 7px 3px #80808045;
}

.border-left {
  padding-left: 25px;
  border-left: 3px solid var(--primary-color);
}

.text--upcase {
  text-transform: uppercase;
}

.d--block {
  display: block;
}

.d--flex {
  display: flex;
  align-items: center;
}

.justify--content--end {
  justify-content: flex-end;
}

.d--none {
  display: none;
}

p {
  padding-bottom: 5px;
}

a {
  text-decoration: none;
  color: #111;
  transition: all 0.6s;
}

a:hover {
  color: var(--primary-color);
}

/*---Title---*/
/*---Back to top---*/
#buttonBackToTop {
  display: inline-block;
  background-color: #4c8a399c;
  width: 45px;
  height: 45px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 15px;
  transition: background-color .3s, opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  border-radius: 10px;
  box-shadow: 1px 1px 20px 4px #4c8a3957;
}

#buttonBackToTop::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 25px;
  line-height: 45px;
  color: #ffffff80;
}

#buttonBackToTop:hover {
  cursor: pointer;
  background-color: var(--primary-bg-color);
}

#buttonBackToTop:hover:after {
  color: #fff;
}

#buttonBackToTop:active {
  background-color: #555;
}

#buttonBackToTop.show {
  opacity: 1;
  visibility: visible;
}

/*---Back to top---*/
/*---Modal---*/
/* The Modal (background) */
.Form__modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaaaaa;
  display: block;
  text-align: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/*---Modal---*/
/*---padding and margin---*/
.py-40 {
  padding: 40px 0px;
}

.py-30 {
  padding: 30px 0px;
}

.py-15 {
  padding: 20px 0px;
}

.p-20 {
  padding: 20px;
}

.p-12 {
  padding: 12px;
}

.py-12 {
  padding: 12px 0px;
}

.px-30 {
  padding: 0px 30px;
}

.mx-5 {
  margin: 0px 5px;
}

.mxr-5 {
  margin-right: 5px;
}

.mxr-15 {
  margin-right: 15px;
}

.py-65-px-30 {
  padding: 65px 30px;
}

.mx-15 {
  margin: 0px 15px;
}

.mx-35 {
  margin: 0px 35px;
}

.my-6 {
  margin: 6px 0px;
}

.my-12 {
  margin: 12px 0px;
}

.my-20 {
  margin: 20px 0px;
}

.my-40 {
  margin: 40px 0px;
}

.my-50 {
  margin: 50px 0px;
}

.myt-20 {
  margin-top: 20px;
}

.myt-50 {
  margin-top: 50px;
}

.mr-auto {
  margin: auto;
}

/*---padding and margin---*/
/*---Width & Height---*/
.height--100 {
  height: 100%;
}

.width--60 {
  width: 60%;
}

/*---Width & Height---*/
/*---expanded---*/
.shorted {
  max-height: 450px;
  overflow: hidden;
}

.expand {
  max-height: none;
  overflow: none;
}

/*---expanded---*/
@media screen and (max-width: 1024px) {
  .main_menu.main_menu_hide_on_mobile {
    display: none;
  }
  .container {
    max-width: 90%;
  }
  /*Row and divide*/
  .col-divide-lg-12 {
    flex: auto;
    max-width: 100%;
  }
  .col-divide-lg-6 {
    flex: auto;
    max-width: 48%;
  }
  .col-divide-lg-4 {
    flex: auto;
    max-width: 32%;
  }
  .col-divide-lg-3 {
    flex: auto;
    max-width: 24%;
  }
  /*Row and divide*/
  .title--section, .title--item {
    text-align: center;
  }
  figure {
    max-width: 100% !important;
  }
}

@media screen and (max-width: 768px) {
  /*Setup*/
  body {
    font-size: 18px;
  }
  .divide--5-col {
    flex: auto;
    max-width: 100%;
  }
  /*Row and divide*/
  .col-divide-md-12 {
    flex: auto;
    max-width: 100%;
  }
  .col-divide-md-6 {
    flex: auto;
    max-width: 48%;
  }
  .col-divide-md-4 {
    flex: auto;
    max-width: 32%;
  }
  .col-divide-md-3 {
    flex: auto;
    max-width: 24%;
  }
  .title--section {
    font-size: 30px;
    margin: 22px 0px;
  }
  /*Row and divide*/
  .dp--none {
    display: none;
  }
  .dp--block {
    display: block;
  }
  .dt--block {
    display: block;
  }
  /*Setup*/
}

@media screen and (max-width: 438px) {
  /*Setup*/
  .title--section {
    font-size: 25px;
    margin: 22px 0px;
  }
  .title--item {
    font-size: 22px;
  }
  /*Row and divide*/
  .col-divide-sm-12 {
    flex: auto;
    max-width: 100%;
  }
  .col-divide-sm-6 {
    flex: auto;
    max-width: 48%;
  }
  .col-divide-sm-4 {
    flex: auto;
    max-width: 32%;
  }
  .col-divide-sm-3 {
    flex: auto;
    max-width: 24%;
  }
  /*Row and divide*/
  .dp--none {
    display: none;
  }
  .icon--text {
    font-size: 25px;
  }
  /*Setup*/
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

li {
  list-style: none;
}

.roboto {
  font-family: 'Roboto',sans-serif;
}

.open-sanrif {
  font-family: 'Open Sans',arial,sans-serif;
}

.main--background .header__contain .row-divide .banner__container {
  align-self: center;
}

.main--background .menu__container {
  position: relative;
  padding: 20px 0;
}

.main--background .menu__container .menu__background .menu-main-menu-container ul.menu {
  display: flex;
  justify-content: space-between;
}

.main--background .menu__container .menu__background .menu-main-menu-container ul.menu li.menu-item a.menu-link {
  font-weight: 700;
  font-size: 14px;
  font-family: 'Open Sans',arial,sans-serif;
}

.main--background .menu__container .menu__background .menu-main-menu-container ul.menu li.menu-item .sub-menu {
  display: none;
}

.main--background .menu__container .search-content {
  display: inline-block;
  text-align: end;
  align-self: center;
}

.main--background .menu__container .search-content .open-search {
  font-size: 20px;
  border: none;
  background: #fff;
  cursor: pointer;
}

.main--background .menu__container .search-content .search-form {
  display: none;
}

.main--background .menu__container::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 8px;
  z-index: 2;
  bottom: -5px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(187, 187, 187, 0.496236) 100%);
}

.marquee-slick .trending__post {
  margin: 25px 0;
  padding: 0 10px;
  justify-content: normal;
}

.marquee-slick .trending__post .trend__title {
  display: inline-block;
  padding: 5px;
  background: var(--primary-color);
  font-size: 14px;
  color: #fff;
  text-align: center;
}

.marquee-slick .trending__post .trend__post-list {
  margin-left: 10px;
  /* icon color */
  /* position outside */
}

.marquee-slick .trending__post .trend__post-list .flickity-button {
  background: var(--primary-color);
}

.marquee-slick .trending__post .trend__post-list .flickity-prev-next-button {
  width: 30px;
  height: 30px;
  border-radius: 0px;
}

.marquee-slick .trending__post .trend__post-list .flickity-button-icon {
  fill: white;
}

.marquee-slick .trending__post .trend__post-list .flickity-prev-next-button.previous {
  left: unset;
  right: 0px;
}

.marquee-slick .trending__post .trend__post-list .flickity-prev-next-button.next {
  right: -40px;
}

.marquee-slick .trending__post .trend__post-list .flickity-viewport .flickity-slider .title__post {
  width: 100%;
}

.top-news .top-news__container .left-top-news .top__news-post-head .post__head-item {
  position: relative;
}

.top-news .top-news__container .left-top-news .top__news-post-head .post__head-item .post__head-title {
  position: absolute;
  bottom: 5px;
  padding: 0 15px 20px 17px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 10%, rgba(255, 255, 255, 0) 100%);
}

.top-news .top-news__container .left-top-news .top__news-post-head .post__head-item .post__head-title .title__cat-news-top span.category-title a {
  color: #fff;
  padding: 5px;
  font-size: 10px;
  background: #000;
  font-family: 'Roboto',sans-serif;
  font-weight: 700;
}

.top-news .top-news__container .left-top-news .top__news-post-head .post__head-item .post__head-title .title__news-top a {
  color: #fff;
  font-size: 27px;
  font-weight: 700;
}

.top-news .top-news__container .right-top-news .right__news-head .post__head-item {
  position: relative;
}

.top-news .top-news__container .right-top-news .right__news-head .post__head-item .post__head-title {
  position: absolute;
  bottom: 5px;
  padding: 0 15px 20px 17px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 10%, rgba(255, 255, 255, 0) 100%);
}

.top-news .top-news__container .right-top-news .right__news-head .post__head-item .post__head-title .title__cat-news-top span.category-title a {
  color: #fff;
  padding: 5px;
  font-size: 10px;
  background: #000;
  font-family: 'Roboto',sans-serif;
  font-weight: 700;
}

.top-news .top-news__container .right-top-news .right__news-head .post__head-item .post__head-title .title__news-top a {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
}

.top-news .top-news__container .right-top-news .right__news-tail .post__head-item {
  position: relative;
}

.top-news .top-news__container .right-top-news .right__news-tail .post__head-item .post__head-title {
  position: absolute;
  bottom: 5px;
  padding: 0 15px 20px 17px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 10%, rgba(255, 255, 255, 0) 100%);
}

.top-news .top-news__container .right-top-news .right__news-tail .post__head-item .post__head-title .title__cat-news-top span.category-title a {
  color: #fff;
  padding: 5px;
  font-size: 10px;
  background: #000;
  font-family: 'Roboto',sans-serif;
  font-weight: 700;
}

.top-news .top-news__container .right-top-news .right__news-tail .post__head-item .post__head-title .title__news-top a {
  color: #fff;
  font-size: 15px;
  font-weight: 700;
}

.nw .nw__container .nw__background .nw__label {
  justify-content: space-between;
  display: flex;
}

.nw .nw__container .nw__background .nw__label .label-item {
  color: #fff;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: 400;
  display: inline-block;
}

.nw .nw__container .nw__background .nw__label .news__category-related {
  align-self: center;
}

.nw .nw__container .nw__background .nw__label .news__category-related .category-related__container {
  display: flex;
}

.nw .nw__container .nw__background .nw__label .news__category-related .category-related__container li.sub__category {
  margin-left: 30px;
}

.nw .nw__container .nw__background .nw__label .news__category-related .category-related__container li.sub__category a {
  color: #777;
  font-size: 13px;
}

.nw .nw__container .nw__background .nw__content .col-divide-6 {
  max-width: 48%;
}

.nw .nw__container .nw__background .nw__content .nw__left-content .nw__post-title {
  font-size: 23px;
  font-weight: 500;
  line-height: 25px;
  margin: 10px 0;
}

.nw .nw__container .nw__background .nw__content .nw__left-content .nw__post-title a {
  color: #111;
}

.nw .nw__container .nw__background .nw__content .nw__left-content .nw__post-content {
  font-size: 13px;
  color: #777;
  line-height: 21px;
}

.nw .nw__container .nw__background .nw__content .nw__left-content .nw__editor-date .editor {
  font-size: 11px;
  font-weight: 700;
  color: #000;
}

.nw .nw__container .nw__background .nw__content .nw__left-content .nw__editor-date .date-time {
  font-size: 11px;
  color: #777;
}

.nw .nw__container .nw__background .nw__content .nw__left-content .nw__editor-date .comment {
  float: right;
  margin-top: 5px;
}

.nw .nw__container .nw__background .nw__content .nw__left-content .nw__editor-date .comment a {
  position: relative;
  color: #fff;
  background: #000;
  padding: 2px 5px;
}

.nw .nw__container .nw__background .nw__content .nw__left-content .nw__editor-date .comment a::after {
  position: absolute;
  bottom: -3px;
  left: 0;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 3px 3px 0 0;
  border-color: #000 transparent transparent;
}

.nw .nw__container .nw__background .nw__content .nw__right-content .nw__right-content--item {
  justify-content: inherit;
  padding: 0 20px 13px;
  margin-bottom: 13px;
}

.nw .nw__container .nw__background .nw__content .nw__right-content .nw__right-content--item .nw__infomation {
  padding-left: 15px;
}

.nw .nw__container .nw__background .nw__content .nw__right-content .nw__right-content--item .nw__infomation .nw__post-title {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

.nw .nw__container .nw__background .nw__content .nw__right-content .nw__right-content--item .nw__infomation .nw__post-title a:hover {
  color: var(--primary-color);
}

.nw .nw__container .nw__background .nw__content .nw__right-content .nw__right-content--item .nw__infomation .nw__editor-date {
  margin-top: 5px;
}

.nw .nw__container .nw__background .nw__content .nw__right-content .nw__right-content--item .nw__infomation .nw__editor-date .date-time {
  font-size: 11px;
  color: #777;
}

.nw .nw__container .nw__background .nw__content .nw__left-content.td-2 .nw__post-item .nw__post-title--small {
  margin: 0;
}

.nw .nw__container .nw__background .nw__content .nw__left-content.td-2 .nw__post-item .nw__post-title--small a {
  font-size: 14px;
  font-weight: 600;
}

.nw .nw__container .nw__background .nw__content .nw__left-content.td-2 .nw__post-item .nw__post-title--small a:hover {
  color: var(--primary-color);
}

.nw .nw__container .nw__background .nw__content .nw__left-content.td-2 .nw__post-item.row-divide {
  margin: 10px 0;
}

.nw .nw__container .nw__background .nw__content .nw__right-content.td-2 .nw__post-item .nw__post-title--small {
  margin: 0 !important;
}

.nw .nw__container .nw__background .nw__content .nw__right-content.td-2 .nw__post-item .nw__post-title--small a {
  font-size: 14px;
  font-weight: 600;
}

.nw .nw__container .nw__background .nw__content .nw__right-content.td-2 .nw__post-item .nw__post-title--small a:hover {
  color: var(--primary-color);
}

.nw .nw__container .nw__background .nw__content .nw__right-content.td-2 .nw__post-item .nw__post-title {
  font-weight: 500;
  line-height: 25px;
  font-size: 23px;
  margin: 10px 0;
}

.nw .nw__container .nw__background .nw__content .nw__right-content.td-2 .nw__post-item .nw__post-title a:hover {
  color: var(--primary-color);
}

.nw .nw__container .nw__background .nw__content .nw__right-content.td-2 .nw__post-item .nw__post-content {
  font-size: 13px;
  color: #777;
  line-height: 21px;
}

.nw .nw__container .nw__background .nw__content .nw__right-content.td-2 .nw__post-item .nw__editor-date .editor {
  font-size: 11px;
  font-weight: 700;
  color: #000;
}

.nw .nw__container .nw__background .nw__content .nw__right-content.td-2 .nw__post-item .nw__editor-date .date-time {
  font-size: 11px;
  color: #777;
}

.nw .nw__container .nw__background .nw__content .nw__right-content.td-2 .nw__post-item .nw__editor-date .comment {
  float: right;
  margin-top: 5px;
}

.nw .nw__container .nw__background .nw__content .nw__right-content.td-2 .nw__post-item .nw__editor-date .comment a {
  position: relative;
  color: #fff;
  background: #000;
  padding: 2px 5px;
}

.nw .nw__container .nw__background .nw__content .nw__right-content.td-2 .nw__post-item .nw__editor-date .comment a::after {
  position: absolute;
  bottom: -3px;
  left: 0;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 3px 3px 0 0;
  border-color: #000 transparent transparent;
}

.nw .nw__container .nw__background .nw__content .nw__right-content.td-2 .nw__post-item.row-divide {
  margin: 10px 0;
}

.nw .nw__container .nw__background .nw__content.td-3 .nw__content-post-slide {
  /* icon color */
  /* position outside */
}

.nw .nw__container .nw__background .nw__content.td-3 .nw__content-post-slide .flickity-button {
  background: var(--primary-color);
}

.nw .nw__container .nw__background .nw__content.td-3 .nw__content-post-slide .flickity-prev-next-button {
  width: 30px;
  height: 30px;
  border-radius: 0px;
}

.nw .nw__container .nw__background .nw__content.td-3 .nw__content-post-slide .flickity-button-icon {
  fill: white;
}

.nw .nw__container .nw__background .nw__content.td-3 .nw__content-post-slide .flickity-prev-next-button.previous {
  left: 0px;
  right: unset;
  top: unset;
  bottom: -50px;
}

.nw .nw__container .nw__background .nw__content.td-3 .nw__content-post-slide .flickity-prev-next-button.next {
  right: unset;
  left: 35px;
  bottom: -50px;
  top: unset;
}

.nw .nw__container .nw__background .nw__content.td-3 .nw__content-post-slide .flickity-viewport {
  height: 240px !important;
}

.nw .nw__container .nw__background .nw__content.td-3 .nw__content-post-slide .flickity-viewport .flickity-slider {
  width: 105%;
  left: -13px !important;
}

.nw .nw__container .nw__background .nw__content.td-3 .nw__content-post-slide .flickity-viewport .flickity-slider .nw__post-slide--item {
  width: 260px;
}

.nw .nw__container .nw__background .nw__content.td-3 .nw__content-post-slide .flickity-viewport .flickity-slider .nw__post-slide--item .nw__post-title a {
  color: #111;
  font-weight: 700;
}

.nw .nw__container .nw__background .nw__content.td-3 .nw__content-post-slide .flickity-viewport .flickity-slider .nw__post-slide--item .nw__post-title a:hover {
  color: var(--primary-color);
}

.nw .nw__container .nw__background .nw__content.td-4 .nw__post-item .nw__infomation .nw__post-title a {
  font-size: 21px;
  font-weight: 400;
}

.nw .nw__container .nw__background .nw__content.td-4 .nw__post-item .nw__infomation .nw__editor-date .date-time {
  color: #777;
  font-weight: 400;
}

.nw .nw__container .nw__background .nw__content.td-4 .nw__post-item .nw__infomation .nw__editor-date .comment {
  float: right;
  margin-top: 5px;
}

.nw .nw__container .nw__background .nw__content.td-4 .nw__post-item .nw__infomation .nw__editor-date .comment a {
  position: relative;
  color: #fff;
  background: #000;
  padding: 2px 5px;
}

.nw .nw__container .nw__background .nw__content.td-4 .nw__post-item .nw__infomation .nw__editor-date .comment a::after {
  position: absolute;
  bottom: -3px;
  left: 0;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 3px 3px 0 0;
  border-color: #000 transparent transparent;
}

.nw .nw__container .nw__background .nw__content.td-4 .nw__post-item .nw__infomation .nw__post-content {
  font-size: 13px;
  color: #6f6f6f;
}

.nw__wrapper-center .nw__wrapper-center--container .nw__wrapper-center--item .nw__label {
  border-bottom: 2px solid #222;
  margin-bottom: 20px;
}

.nw__wrapper-center .nw__wrapper-center--container .nw__wrapper-center--item .nw__label .label-item {
  background-color: #222;
  color: #fff;
  display: inline;
  padding: 3px 10px;
  font-weight: 400;
  font-size: 14px;
}

.nw__wrapper-center .nw__wrapper-center--container .nw__wrapper-center--item .nw__post-item.row-divide .nw__infomation .nw__post-title--small a {
  font-size: 13px;
  font-weight: 700;
}

.nw__wrapper-center .nw__wrapper-center--container .nw__wrapper-center--item .nw__post-item.row-divide .nw__infomation .nw__editor-date .date-time {
  font-size: 11px;
  color: #777;
}

.nw__wrapper-center--item .first-post .nw__image {
  position: relative;
}

.nw__wrapper-center--item .first-post .nw__image a .bg-color-front {
  position: absolute;
  bottom: 5px;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
}

.nw__wrapper-center--item .first-post .nw__image .nw-info-post {
  position: absolute;
  bottom: 6px;
  padding: 0 17px 17px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 10%, rgba(255, 255, 255, 0) 100%);
}

.nw__wrapper-center--item .first-post .nw__image .nw-info-post .nw__post-title a {
  font-size: 17px;
  font-weight: 700;
  color: #fff;
}

.nw__wrapper-center--item .first-post .nw__image .nw-info-post .nw__editor-date {
  color: #fff;
}

.nw__wrapper-center--item .first-post .nw__image .nw-info-post .nw__editor-date span.editor a {
  color: #fff;
  font-size: 11px;
  font-weight: 700;
}

.nw__wrapper-center--item .first-post .nw__image .nw-info-post .nw__editor-date .date-time {
  font-weight: 400;
  color: #777;
  font-size: 11px;
}

.center-baner {
  text-align: center;
  margin: 50px 0;
}

.center-baner a img {
  max-width: 720px;
}

.news-music .news-music-container .mi-container .mi__image {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.news-music .news-music-container .mi-container .mi__image .mi__info {
  position: absolute;
  text-align: center;
  padding: 0px 20px;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  right: 0;
  z-index: 1;
}

.news-music .news-music-container .mi-container .mi__image .mi__info .mi__category span.title__cat {
  padding: 0px 5px 2px;
  background: #222;
}

.news-music .news-music-container .mi-container .mi__image .mi__info .mi__category span.title__cat a {
  color: #fff;
  font-size: 10px;
}

.news-music .news-music-container .mi-container .mi__image .mi__info .mi__title span a {
  font-size: 18px;
  color: #fff;
  font-weight: 300;
}

.news-music .news-music-container .mi-container .mi__image .mi__info .mi__editor-date .editor a {
  color: #fff;
  font-weight: 600;
  text-transform: capitalize;
}

.news-music .news-music-container .mi-container .mi__image .mi__info .mi__editor-date .date-time {
  color: #fff;
}

.news-music .news-music-container .mi-container .mi__image::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 7px;
  left: 0;
  background: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) 100%, rgba(0, 0, 0, 0));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) 100%, rgba(0, 0, 0, 0));
}

.news-music .news-music-container .mi-container:hover .mi__image::before {
  top: 0;
  left: 0;
  width: 160%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -120%, 0);
  -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -120%, 0);
  -webkit-transition: transform .7s ease 0s;
  transition: transform .7s ease 0s;
  z-index: 1;
}

.news-music .news-music-container .mi-container:hover .mi__image .mi__info .mi__category span {
  background: #fff;
}

.news-music .news-music-container .mi-container:hover .mi__image .mi__info .mi__category span a {
  color: #000;
}

/*# sourceMappingURL=globals.css.map */