.main--background{
  .header__contain{
    .row-divide{
      .banner__container{
        align-self: center;
      }
    }
  }
  .menu__container{
    position: relative;
    padding:20px 0;
    .menu__background{
      .menu-main-menu-container{
        ul.menu{
          display: flex;
          justify-content: space-between;
          li.menu-item{
            margin-right:20px;
            a.menu-link{
              font-weight: 700;
              font-size:14px;
              font-family: 'Open Sans',arial,sans-serif;
            }
            .sub-menu{
              display: none;
            }
          }
        }
      }

    }
    .search__content{
      position: relative;
      .search__wrapper{
        position: absolute;
        right: 0;
        display: none;
        width: 100%;
        background: #fff;
        z-index: 2;
        padding: 20px 30px;
        box-shadow: 0px 4px 5px 1px #11111163;
        .search-form {
          border-bottom: 1px solid #aaa;
          input.search-field {
            width: 79%;
            border: none;
            outline: none;
          }
          button.search-submit {
            border: none;
            outline: none;
            background: transparent;
            cursor: pointer;
            font-weight: 600;
            text-transform: capitalize;
          }
          button.search-submit:hover {
            color: var(--primary-color);
          }
          .search__field-container{
            justify-content: space-between;
            display: flex;
            label{
              text-align: start;
              width: 50%;
            }
          }
        }
        .search__result-overlay{
          display: grid;
          grid-template-columns: repeat(auto-fill, minmax(160px, 230px));
          justify-content: center;
          grid-gap: 1em;
        }
      }
      display: inline-block;
      text-align: end;
      align-self: center;
      .open-search{
        font-size:20px;
        border:none;
        background:#fff;
        cursor: pointer;
        outline: none;
      }
    }
  }
  .menu__container::before{
    content:'';
    position: absolute;
    width:100%;
    height:8px;
    z-index: 2;
    bottom:-5px;
    background:linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(187,187,187,0.4962359943977591) 100%)
  }
}
