.main--background {
    .header__contain {
        .row-divide {
            .banner__container {
                align-self: center;
                .header-banner {
                    a {
                        img {
                            max-height: 150px;
                        }
                    }
                }
            }
        }
    }
    .menu__container {
        position: relative;
        .menu__wrapper {
            position: relative;
            .menu__background {
                .menu-main-menu-container {
                    ul.menu {
                        display: flex;
                        justify-content: space-between;
                        li.menu-item {
                            padding: 20px 0;
                            margin-right: 20px;
                            a {
                                font-weight: 700;
                                font-size: 14px;
                                font-family: open-sanrif;
                                text-transform: uppercase;
                            }
                            .sub-menu {
                                display: none;
                                position: absolute;
                                background: #fff;
                                box-shadow: 1px 3px 9px 0px #aaaaaa82;
                                width: 100%;
                                z-index: 2;
                                top: 55px;
                                left: 0;
                                opacity: 0;
                                -webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                                animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                                border-radius: 0px 0px 10px 10px;
                                grid-template-columns: repeat(7, 1fr);
                                grid-template-rows: repeat(7, 1fr);
                                height: 340px;
                                padding: 25px;
                                .menu-item {
                                    padding: 0 10px;
                                    margin: 10px 0;
                                }
                            }
                        }
                        li.menu-item:hover {
                            a {
                                color: var(--primary-color);
                            }
                            transition: all .5s linear;
                            cursor: pointer;
                            .sub-menu {
                                display: grid;
                                opacity: 1;
                                .menu-item-object-category {
                                    grid-column: 1 / span 1;
                                    a {
                                        color: #111;
                                    }
                                    a:hover {
                                        color: var(--primary-color);
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .search__content {
                position: relative;
                .search__wrapper {
                    position: absolute;
                    top: 40px;
                    right: 0;
                    width: 150%;
                    background: #fff;
                    z-index: 3;
                    padding: 20px 30px;
                    box-shadow: 0px 4px 5px 1px #11111163;
                    .search-form {
                        input.search-field {
                            width: 100%;
                            background: #aaaaaa50;
                            border: none;
                            padding: 10px;
                            outline: none;
                        }
                        button.search-submit {
                            border: none;
                            outline: none;
                            white-space: nowrap;
                            background: var(--primary-bg-color);
                            color: #fff;
                            cursor: pointer;
                            font-weight: 600;
                            text-transform: capitalize;
                        }
                        .search__field-container {
                            justify-content: space-between;
                            display: flex;
                            border-radius: 5px;
                            overflow: hidden;
                            label {
                                text-align: start;
                                width: 100%;
                            }
                        }
                    }
                    .search__result-overlay::-webkit-scrollbar {
                        width: 5px;
                    }
                    .search__result-overlay::-webkit-scrollbar-thumb {
                        background: #c1c1c1;
                    }
                    .search__result-overlay {
                        height: 400px;
                        overflow-y: scroll;
                        display: flex;
                        flex-wrap: wrap;
                        .post__item {
                            display: flex;
                            .post__item-content {
                                text-align: start;
                                .post__item-title {
                                    font-size: 16px;
                                }
                                .date-post {
                                    font-size: 13px;
                                }
                                .readmore {
                                    font-size: 13px;
                                }
                            }
                        }
                    }
                }
                display: inline-block;
                text-align: end;
                align-self: center;
                .open-search {
                    font-size: 20px;
                    border: none;
                    background: #fff;
                    cursor: pointer;
                    outline: none;
                }
            }
        }
    }
    .menu__container::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 8px;
        z-index: 2;
        bottom: -5px;
        background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(187, 187, 187, 0.4962359943977591) 100%)
    }
}

.display--post.flickity-enabled {
    display: block;
}

.display--post {
    position: absolute;
    top: 0;
    display: flex;
    right: 0px;
    height: 100%;
    width: 100%;
    grid-column: 2 / span 7;
    padding: 30px;
    border-left: 1px solid #aaaaaa50;
    .flickity-viewport {
        height: 100% !important;
        .flickity-slider {
            width: 110%;
            .display--post-item {
                width: 250px;
                .post-item-title {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                }
            }
        }
    }
    .display--post-item {
        width: 250px;
        margin-right: 20px;
        .post-item-title {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
    }
    .flickity-button {
        border: 1px solid var(--tertiary-color);
    }
    .flickity-prev-next-button {
        width: 30px;
        height: 30px;
        border-radius: 0px;
    }
    /* icon color */
    .flickity-button-icon {
        fill: var(--tertiary-color);
        left: 30%;
        width: 40%;
    }
    /* position outside */
    .flickity-prev-next-button.previous {
        left: 30px;
        right: unset;
        top: unset;
        bottom: 10px;
        width: 25px;
        height: 25px;
    }
    .flickity-prev-next-button.next {
        right: unset;
        left: 65px;
        width: 25px;
        height: 25px;
        bottom: 10px;
        top: unset;
    }
}

.display--post.loading>img {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home__wrapper {
    position: relative;
    width: 100%;
    .search__wrapper-mobile {
        background: #fff;
        .search__wrapper-mobile--close {
            text-align: end;
            margin: 10px 10px 0 0;
        }
        .navbar__mb-logo-search {
            width: 200px;
            margin: 0 auto;
        }
        .search-form {
            display: flex;
            justify-content: center;
            align-items: center;
            .search__field-container {
                width: 70%;
                label {
                    .search-field {
                        width: 100%;
                        padding: 12px 5px 11px 10px;
                        border-radius: 5px 0 0 5px;
                        border: none;
                        outline: 0;
                        background: #aaaaaa50;
                    }
                }
            }
            .btn-search-nav {
                width: 10%;
                background: var(--primary-bg-color);
                border-radius: 0 5px 5px 0;
                .btn {
                    color: #fff;
                }
            }
        }
        .search__result-overlay {
            .post__item {
                .post__item-content {
                    .post__item-title {
                        font-size: 15px;
                        text-align: start;
                    }
                    .date {
                        font-size: 11px;
                    }
                    .readmore {
                        font-size: 13px;
                    }
                }
            }
        }
    }
    .search-focus-click {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0.5;
        background: #333;
        z-index: 3;
    }
    .navbar__mb {
        position: fixed;
        background: #fff;
        width: 100%;
        height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 4;
        .close__navbar {
            position: absolute;
            color: #222;
            padding: 0px 5px;
            right: 20px;
            top: 10px;
            z-index: 5;
        }
        .navbar__mb-container {
            position: absolute;
            top: 10%;
            left: 0;
            width: 100%;
            height: auto;
            padding: 25px;
            .navbar__mb-logo {
                width: 200px;
                margin: auto;
                margin-bottom: 50px;
            }
            .menu-main-menu-container {
                margin: 10px 0;
                .menu {
                    .menu-item {
                        a {
                            color: #222;
                            font-size: 21px;
                            font-weight: 700;
                            font-family: open-sanrif;
                        }
                        .sub-menu {
                            padding-left: 20px;
                            -webkit-animation: slide-br 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                            animation: slide-br 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                        }
                    }
                    .menu-item-has-children {
                        position: relative;
                        overflow: hidden;
                    }
                    .menu-item-has-children:after {
                        content: '';
                        position: absolute;
                        right: 3px;
                        top: 10px;
                        border: solid black;
                        border-width: 0 3px 3px 0;
                        padding: 3px;
                        transition: all .25s linear;
                        transform: rotate(45deg);
                        -webkit-transform: rotate(45deg);
                    }
                    .menu-item-has-children.active {
                        i.fas.fa-sort-down {
                            transform: rotate(135deg);
                        }
                    }
                }
            }
        }
    }
}

.nav__header {
    background: #000;
    display: flex;
    justify-content: space-between;
    align-self: center;
    position: fixed;
    width: 100%;
    z-index: 3;
    top: 0;
    padding: 5px;
    .btn__open-menu {
        align-self: center;
        .btn-nav {
            color: #fff;
        }
    }
    .nav__header-logo {
        width: 100px;
    }
    .search-nav {
        align-self: center;
        padding: 5px;
        .open-search {
            border: none;
            outline: none;
            background: none;
            color: #fff;
            font-size: 18px;
            padding: 5px;
        }
    }
}

.scroll-bar-block {
    overflow: hidden;
}