#singlePostDesign{
  .single__design-post{
    .sdp__banner-and-title{
      position: relative;
      overflow: hidden;
      .sdp__banner{

      }
      .sdp__infomation{
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        z-index: 2;
        color:#fff;
        .sdp__category{
          .sdp__category-item{
            color:#fff;
            font-size: 16px;
            font-weight: 500;
            margin: 0 10px;
          }
        }
        .sdp__title{
          .title-desgin-post{
            font-size:40px;
          }
        }
        .sdp__time-views-admin {
          justify-content: center;
          display: flex;
          font-size: 15px;
          .sdp__views-count{
            margin:0 15px;
            position: relative;
          }
          .sdp__views-count:after{
            content:'';
            width:1px;
            height:100%;
            position: absolute;
            top:0;
            right:0;
            background:#fff;
          }
          .sdp__views-count:before{
            content:'';
            width:1px;
            height:100%;
            position: absolute;
            top:0;
            left:0;
            background:#fff;
          }
          .sdp__admin{
            .admin-name{
              a{
                color:#fff;
              }
              a:hover{
                color:#00b9eb;
              }
            }
          }
        }
      }
    }
    .sdp__banner-and-title:after{
      content:'';
      position: absolute;
      top:0;
      width:100%;
      height:100%;
      background:rgba(0,0,0,0.6);
      z-index: 0;
    }
    .sdp__content{
      .sdp__content-container {
        .sdp__content-wrapper{
          .social-share{
            ul.share-buttons{
              justify-content: center;
            }
          }
          .sdp__content-post{}
          .navigation{
            .previous__post{
              display: grid;
              text-align: start;
              span.label-navigation {
                font-size: 11px;
                text-transform: capitalize;
                color: #333333ba;
              }
              a{
                text-transform: uppercase;
                font-weight: 700;
                font-size:16px;
              }
            }
            .next__post{
              display: grid;
              text-align: end;
              span.label-navigation {
                font-size: 11px;
                text-transform: capitalize;
                color: #333333ba;
              }
              a{
                text-transform: uppercase;
                font-weight: 700;
                font-size:16px;
              }
            }
          }
          .author{
            .author-container{
              box-shadow: 0 4px 20px rgba(0,0,0,.1);
              border:0px solid #aaaaaa87;
            }
          }
        }
      }
    }
  }
}
