section#singlePost{
  .single__wrapper{
      .post__item-des{
        .post__category{
          justify-content: initial;
          padding: 0;
          .sub__category{
            margin-right: 10px;
            padding: 5px;
            a{
              font-weight: 600;
              color:#fff;
            }
          }
        }
        .title--section{
          font-size:42px;
        }
      }
      .post__wrapper-container{
        .post__contain{
          .social__share-post-1{
            .social-share{
              .share-buttons{
                justify-content: center;
                a{
                  border-radius: 15px;
                  padding:2px 3px;
                }
              }
            }
          }
          .social__share-post-2{
            .social-share{
              padding: 10px 0;
              margin: 20px 0;
              border-top: 1px solid #aaaaaa52;
              border-bottom: 1px solid #aaaaaa52;
              .share-buttons{
                a{
                  border-radius: 15px;
                  padding:2px 3px;
                }
              }
            }
          }
          .post__item-content{
            line-height: 1.6;
          }
          .author-date{
            border-top: 1px solid #eee;
            border-bottom: 1px solid #eee;
            margin: 50px 0;
            padding: 5px 0;
            .author{
              justify-content: initial;
              img{
                width:50px;
                border-radius: 50%;
              }
              .author-name{
                margin-left: 5px;
                font-weight: 700;
                align-self: center;
                font-size:12px;
                color:#000;
              }
            }
            .date{
              position: relative;
              align-self: center;
              font-size: 12px;
              color: #444;
              font-weight: 400;
              .view-counts{
                float:right;
                  i{
                    margin-right:5px;
                  }
                }
            }
            .date:before {
              content: '';
              position: absolute;
              left: -7px;
              top: -5px;
              width: 1px;
              height: 30px;
              background: #eaeaea;
            }
          }
        }
        .singlePost-sidebar{
          padding:0 20px;
          h2.title--section{
            display: inline-block;
            font-size: 14px;
            font-weight: 400;
            background: #222;
            color: #fff;
            position: relative;
            padding: 2px 5px;
          }
          h2.title--section::after{
            content:'';
            position: absolute;
            bottom:0;
            width:2000px;
            padding:1px;
            background:#222;
          }
          .single-sidebar{
            overflow: hidden;
            margin-bottom:10px;
            .textwidget{
              .nw__post-item{
                margin: 10px 0;
                .nw__infomation{
                  .nw__post-title{
                    a{
                      font-size: 14px;
                      font-weight: 500;
                      line-height: 1.4;
                    }
                  }
                  .nw__editor-date{
                    .date-time{
                      font-size:11px;
                      color:#6b6a6a;
                    }
                  }
                }
              }
              .author{
                text-align: center;
                .avatar{
                  width:150px;
                  border-radius: 50%;
                }
                .author-name{
                  font-size:18px;
                  font-weight:700;
                  margin:10px 0;
                }
                .author-description{
                  font-size:13px;
                  color:#555;
                }
              }
            }
          }
        }
      }
      .previous__post{
        display: grid;
        color:#666;
        font-size: 13px;
        a{
          font-size:15px;
          margin-top: 5px;
          color:#222;
          font-weight: 600;
          font-family: 'Open Sans',arial,sans-serif;
        }
      }
      .next__post{
        display: grid;
        color:#666;
        text-align: end;
        font-size: 13px;
        a{
          font-size:15px;
          margin-top: 5px;
          color:#222;
          font-weight: 600;
          font-family: 'Open Sans',arial,sans-serif;
        }
        a:hover{
          color:var(--primary-color);
        }
      }
  }
}
